@import "layouts/globals"
@import 'layouts/variables'
@import "layouts/animation"

header
  .container
    color: $black
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and ( max-width: 767px )
      flex-direction: column
  .logo
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    font:
      size: 2rem
      weight: bold
    @media screen and ( max-width: 767px )
      color: $main-color
      height: 55px
      font-size: 1.7rem
  .links
    display: flex
    align-items: center
    li
      a
        display: flex
        align-items: center
        font:
          size: 1.2rem
        height: 70px
        padding: 0 10px
        margin-left: 15px
        color: $black
        @media screen and ( max-width: 767px )
          font-size: 1rem
          padding: 0 5px
          height: 50px
        &:hover,
        &:active
          color: white
          background-color: $main-color
  .number
    display: flex
    align-items: center
    height: 70px
    @media screen and ( max-width: 767px )
      height: 50px

.landing 
  overflow: hidden
  padding: 0
  @media screen and ( max-width: 991px )
    background-color: $off-white
  .container
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: calc( 100vh - 155px )
    transition: $duration
    &::before
      content: "HOME"
      font:
        size: 38rem
        weight: 600
      position: absolute
      top: 50%
      left: -30%
      transform: translateY(-50%)
      color: $off-white
      z-index: -1
  .text
    height: 400px
    width: 40%
    display: flex
    flex-direction: column
    justify-content: center
    > h1
      font:
        size: 3.5rem
        weight: 500
    p
      margin-top: 20px
      margin-bottom: 20px
    @media screen and ( max-width: 991px )
      align-items: center
      width: 90%
      > h1
        font-size: 3rem
  .image
    position: relative
    right: -100px
    bottom: -60px
    height: 100%
    width: 50%
    display: flex
    align-items: center
    img 
      width: 100%
    @media (max-width: 991px)
      display: none

.about
  min-height: calc( 100vh - 120px )
  .container
    display: flex
    align-items: center
    gap: 30px
    @media screen and ( max-width: 991px )
      flex-direction: column
    .text
      flex: 1
      display: flex
      flex-direction: column
      @media screen and ( max-width: 991px )
        order: 2
      .history
        .date
          margin-bottom: 5px
          margin-top: 5px
          font:
            size: 1.4rem
            weight: 600
          &::before
            content: "- "
        p
          line-height: 1.7
          font:
            size: 0.8rem
    .image
      flex: 1
      width: 50%
      height: 400px
      overflow: hidden
      border-radius: 10px 
      @media screen and ( max-width: 767px )
        order: 1
        width: 80%
      img
        width: 100%
        object-fit: contain

.services
  min-height: calc( 100vh - 120px )
  background-color: $off-white
  position: relative
  .container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    grid-gap: 30px
    @media screen and ( max-width: 991px )
      grid-gap: 20px
    .image
      width: 100%
      aspect-ratio: 1
      text-align: center 
      overflow: hidden
      border-radius: 10px
      position: relative
      .text
        z-index: 4
        display: none
        position: absolute
        top: 50%
        left: 50%
        transform:  translate(-50%, -50%)
        span
          color: $main-color
          font-size: 1.3em
      img
        border: 10px solid $main-color
        width: calc(100% - 20px)
      &::before
        position: absolute
        content: ""
        width: 100%
        height: 100%
        background-color: white
        display: none
      &:hover
        cursor: help
        .text,
        &::before
          display: block
        img
          animation: services-card-img $duration linear forwards;

.subscribe
  .container
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 60px
    .form
      @media screen and ( max-width:  767px)
        display: flex
        flex-direction: column
        align-items: center
        gap: 20px
    #email
      height: 38px
      width: 300px
      border: 1px solid $main-color
  .info
    width: 100%
    background-color: $black
    min-height: 150px

footer
  min-height: 200px
  background-color: $black
  color: white
  padding: 30px 0
  overflow: hidden
  .container
    display: flex
    justify-content: space-between
    align-items: flex-start
    gap: 20px
    overflow: hidden
    @media screen and ( max-width: 767px )
      flex-direction: column
    span,p
      opacity: 0.7
    .links 
      li
        padding: 10px
        a 
          color: white
    h2 
      font-size: 1.5rem
      margin: 20px 0
  .col-1
    min-width: 40%
  .col-2
    min-width: 25%
  .col-3
    min-width: 25%


// responsive part
